.box1{
    background-color: #a6a6a6;
    height: 120px;
}

.box2{
    background-color: #989595;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}